#mic-private-private-registration-form div.inline div.form-item {
  display: inline-block;
  height: 55px;
  vertical-align: top;
}

input,
select {
  font-size: 20px;
}

.clear {
  clear: both;
}

p.intro {
    margin: 10px 0;
}

.tooltiptext {
    display: none;
}

.qtip-content {
    font-size: 16px;
    line-height: 20px;
}