#mic-profile-add-profile-form div.inline div.form-item {
  display: inline-block;
}

#mic-profile-add-profile-form #edit-program-areas div.form-item,
#mic-profile-add-profile-form #edit-instrument div.form-item {
  float: left;
  width: 50%;
}

.clear {
  clear: both;
}

.node-type-profile .body-inner-wrapper .middle-column .main-content-wrapper h1 {
  margin-bottom: 0px;
}
.body-inner-wrapper .middle-column .main-content-wrapper .field-name-field-job-title {
  margin-bottom: 10px;
}